@model IEnumerable<RestfulService.Domain.Entities.City>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    @Html.ActionLink("Create new", "Create", "Cities")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCapital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isCapital)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Population)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Id)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Cities", new { id = item.Id }, null)|
                    @Html.ActionLink("Details", "Details", "Cities", new { id = item.Id }, null)|
                    @Html.ActionLink("Delete", "Delete", "Cities", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>


</table>
@Html.ActionLink("Back to home", "Index", "Home")