@model IEnumerable<RestfulService.Domain.Entities.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>

    @Html.ActionLink("Create new", "Create", "Countries")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>

                    @Html.ActionLink("Edit", "Edit", "Countries", new { id = item.Id }, null)|
                    @Html.ActionLink("Details", "Details", "Countries", new { id = item.Id }, null)|
                    @Html.ActionLink("Delete", "Delete", "Countries", new { id = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Back to home", "Index", "Home")
